@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --primary-white : #ffffff;
    --primary-black : #2a2c49;
    --secondary-black : #40464C;
    --primary-blue : #FAFBFE;
    --primary-grey : #DCDEE9;
    --light-pink :#F0E4F3;
    --primary-red : #F0517A;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: var(--primary-blue);
}

/* ===typography=== */
h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
}
h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: var(--primary-black);
}
h3{
    font-weight: 600;
    font-size: 26px;
    line-height: 15px;

}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-black);
}
strong{
    font-weight: 700;
}

/* ===utility classes=== */
.font-18{
    font-size: 18px;
    line-height: 24px;
}
.bold-500{
    font-weight: 500;
}
.bold-700{
    font-weight: 700;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-red{
    background-color: var(--primary-red);
}
.bg-red p{
    color: var(--primary-white);
}
.mt-15{
    margin-top: 15px;
}
.pb-80{
    padding-bottom: 80px;
}
/* ===header section=== */

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    flex-wrap: wrap;
    gap: 20px;
    order: 0;
}
.search__form{
    position: relative;
    max-height: fit-content;
    order: 1;
    flex-basis: 100%;
}
input[type="search"]{
    border: 0;
    outline: 0;
    background-color: #E8ECEE;
    padding: 12px 15px 12px 36px;
    width: 100%;
}
.search__icon{
    content: url(assets/search-icon.svg);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    flex-basis: 100%;
}
.notification{
    cursor: pointer;
}
select{
    outline: 0;
    border: 0;
    cursor: pointer;
}
.profile__detail{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

/* ===main section=== */
.container{
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
}
.home__banner{
    background: linear-gradient(94.82deg, #F0517A 1.7%, #7177A4 97.06%);
    padding-top: 61px;
    padding-bottom: 61px;
    color: var(--primary-white);
    min-height: 370px;
}
.home__banner h1{
    padding-top: 38px;
    padding-bottom: 48px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* .col{
    flex-basis: 50%;
} */
.right-column{
    display: flex;
    justify-content: flex-start;
    gap: 19px;
    align-items: flex-start;
    height: fit-content;
    flex-wrap: wrap;
}
.breadcrumbs{
    display: flex;
    gap: 2px;
}
.breadcrumbs span{
    position: relative;
    display: block;
    padding-right: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.breadcrumbs span:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
}

.download-icon,
.setting-icon{
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.custom-dropdown{
    background-color: transparent;
    border: 1px solid var(--primary-grey);
    padding: 10px 36px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    box-shadow: 0px 2px 4px 0px #EAECF01A;
    color: var(--primary-white);
    border-radius: 3px;
}

button{
    all: unset;
    cursor: pointer;
}
.btn{
    padding: 10px 20px;
    box-shadow: 0px 2px 4px 0px #EAECF01A;
    border: 1px solid var(--primary-white);
    border-radius: 3px;
    background-color: #FFFFFF05;
}
.btn-icon{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.border-20{
    border-radius: 20px;
}

.bg-white{
    background-color: var(--primary-white);
}
.bg-light-pink{
    background-color: var(--light-pink);
}

.box-shadow{
    box-shadow: 0px 4px 30px 0px #0000000D;
}

.benchmark h3{
    padding-bottom: 15px;
}
.benchmark>p{
    padding-top: 15px;
}
.benchmark div p{
    font-size: 22px;
    line-height: 33px;
}
.benchmark div p strong{
    font-size: 24px;
    line-height: 33px;
}
.employee-score h2{
    padding-bottom: 15px;
}
.employee-score div{
    padding-top: 24px;
    padding-bottom: 40px;
}
.col-8,
.col-4{
    padding: 30px;
}
.container.mt-n-90{
    margin-top: 35px;
}

/* ====media query ===== */
@media only screen and (min-width: 768px){
    .search__form,
    .profile{
        order: 1;
        flex-basis: auto;
    }
    input[type="search"]{
        max-width: 240px;
    }
    /* .container{
        max-width: 650px;
        margin: 0 auto;
    } */
    .right-column{
        justify-content: flex-end;
    }
}
@media only screen and (min-width: 1024px){
    /* .container{
        max-width: 992px;
        margin: 0 auto;
    } */
    .row{
        gap: 0;
    }
    .col{
        flex-basis: 50%;
    }
    .col-8{
        flex-basis: 60%;
        padding: 48px 65px 37px;
    }
    .col-4{
        flex-basis: 35%;
        padding: 55px 53px 37px;
    }
    .row.gap-38{
        gap: 38px;
    }
    .container.mt-n-90{
        margin-top: -90px;
    }
    .graph-column.row{
        flex-wrap: nowrap;
    }
    .graph-column img{
        object-fit: contain;
        height: auto;
        overflow: hidden;
    }
}
@media only screen and (min-width: 1440px){
    .container{
        max-width: 1350px;
        margin: 0 auto;
    }
    .col-8{
        flex-basis: 67%;
        padding: 48px 65px 37px;
    }
    .col-4{
        flex-basis: 30%;
        padding: 55px 53px 37px;
    }
  
}
@media only screen and (min-width: 1920px){
    .container{
        max-width: 1427px;
        margin: 0 auto;
    }
}