@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --primary-white : #ffffff;
    --primary-black : #2a2c49;
    --secondary-black : #40464C;
    --primary-blue : #FAFBFE;
    --primary-grey : #DCDEE9;
    --light-pink :#F0E4F3;
    --primary-red : #F0517A;
    --body-background : #F3F9FF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: var(--primary-blue);
}

/* ===typography=== */
h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}
h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: var(--primary-black);
}
h3{
    font-weight: 600;
    font-size: 26px;
    line-height: 15px;

}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-black);
}
strong{
    font-weight: 700;
}

/* ===utility classes=== */
.font-18{
    font-size: 18px;
    line-height: 24px;
}
.bold-500{
    font-weight: 500;
}
.bold-700{
    font-weight: 700;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-red{
    background-color: var(--primary-red);
}
.bg-red p{
    color: var(--primary-white);
}
.mt-15{
    margin-top: 15px;
}
.pb-80{
    padding-bottom: 80px;
}
.font-20{
    font-weight: 600;
    font-size: 20px;
    color: #2a2c49;
    max-width: 274px;
}
.flex.flex-start{
    align-items: flex-start;
}
/* ===header section=== */

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    flex-wrap: wrap;
    gap: 20px;
    order: 0;
}
.search__form{
    position: relative;
    max-height: fit-content;
    order: 1;
    flex-basis: 100%;
}
input[type="search"]{
    border: 0;
    outline: 0;
    background-color: #E8ECEE;
    padding: 12px 15px 12px 36px;
    width: 100%;
}
.search__icon{
    content: url(assets/search-icon.svg);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    flex-basis: 100%;
}
.notification{
    cursor: pointer;
}
select{
    outline: 0;
    border: 0;
    cursor: pointer;
}
.profile__detail{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

/* ===main section=== */
.container{
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
}
.home__banner{
    background: linear-gradient(94.82deg, #F0517A 1.7%, #7177A4 97.06%);
    padding-top: 61px;
    padding-bottom: 61px;
    color: var(--primary-white);
    min-height: 370px;
}
.home__banner h1{
    padding-top: 38px;
    padding-bottom: 48px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* .col{
    flex-basis: 50%;
} */
.right-column{
    display: flex;
    justify-content: flex-start;
    gap: 19px;
    align-items: flex-start;
    height: fit-content;
    flex-wrap: wrap;
}
.breadcrumbs{
    display: flex;
    gap: 2px;
}
.breadcrumbs span{
    position: relative;
    display: block;
    padding-right: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.breadcrumbs span:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
}

.download-icon,
.setting-icon{
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.custom-dropdown{
    background-color: transparent;
    border: 1px solid var(--primary-grey);
    padding: 10px 36px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    box-shadow: 0px 2px 4px 0px rgba(234, 236, 240, 0.10);
    color: var(--primary-white);
    border-radius: 3px;
}

button{
    all: unset;
    cursor: pointer;
}
.btn{
    padding: 10px 20px;
    box-shadow: 0px 2px 4px 0px rgba(234, 236, 240, 0.10);
    border: 1px solid var(--primary-white);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.02);
}
.btn-icon{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.border-20{
    border-radius: 20px;
}

.bg-white{
    background-color: var(--primary-white);
}
.bg-light-pink{
    background-color: var(--light-pink);
}

.box-shadow{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.benchmark h3{
    padding-bottom: 15px;
}
.benchmark>p{
    padding-top: 15px;
}
.benchmark div p{
    font-size: 22px;
    line-height: 33px;
}
.benchmark div p strong{
    font-size: 24px;
    line-height: 33px;
}
.employee-score h2{
    padding-bottom: 15px;
}
.employee-score div{
    padding-top: 24px;
    padding-bottom: 40px;
}
.col-8,
.col-4{
    padding: 30px;
}
.container.mt-n-90{
    margin-top: 35px;
}

/*===progress-element===*/

progress {
  opacity: 0;
}

.progress-element {
  margin: 0 0 10px;
}

.progress-container {
  position: relative;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
}
.progress-element--red .progress-container{
    background: #FFD7E1;
}
.progress-element--yellow .progress-container{
    background: #ffe6c2;
}
.progress-element--green .progress-container{
    background: #d1f6f2;
}
.progress-element--blue .progress-container{
    background: #cbd4e2;
}
.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}
.progress-element--red .progress-container::before {
  background: #F92D61;
}
.progress-element--yellow .progress-container::before{
  background: #FF9800;
}
.progress-element--green .progress-container::before{
  background: #0FCFBD;
}
.progress-element--blue .progress-container::before{
  background: #365B91;
}
.color-red p{
    color: #F92D61;
    font-weight: 600;
}
.lh-30{
    line-height: 30px;
}
.text-center{
    text-align: center;
}

.progress-percent-block .percent-number{
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
}
.percent-number.red{
    color: #F92D61;
}
.percent-number.yellow{
    color: #FF9800;
}
.percent-number.green{
    color: #0FCFBD;
}
.text-green{
    color: #0FCFBD;
    font-size: 14px;
    font-weight: 500;
}
.color-green p{
    color: #0FCFBD;
    font-weight: 600;
}
.color-blue p{
    color: #365B91;
    font-weight: 600;
}
.review-wrapper .flex p+p{
    font-size: 20px;
}
.reaction-block p{
    font-size: 12px;
    line-height: 10px;
    color: #40464C;
    font-weight: 600;
}
.reaction-block p+p{
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}
.reaction-block.red p+p{
    color:#DE1252;
}
.reaction-block.neutral p+p{
    color: #97A6B4;
}
.reaction-block.green p+p{
    color: #0FCFBD;
}
.progress-element--red .progress-container::before {
  animation: progress-red 1s ease-in forwards;
}
.progress-element--yellow .progress-container::before{
animation: progress-yellow 1s ease-in forwards;
}
.progress-element--blue .progress-container::before{
animation: progress-blue 1s ease-in forwards;
}
.progress-element--green .progress-container::before{
animation: progress-green 1s ease-in forwards;
}
.review-wrapper .progress-element--red .progress-container::before{
animation: progress-red-40 1s ease-in forwards;
}
.review-wrapper .progress-element--green .progress-container::before{
animation: progress-green-25 1s ease-in forwards;
}
@keyframes progress-red {
  to {
    width: 16%;
  }
}
@keyframes progress-red-40 {
  to {
    width: 40%;
  }
}
@keyframes progress-green-25 {
  to {
    width: 25%;
  }
}
@keyframes progress-yellow {
  to {
    width: 20%;
  }
}

@keyframes progress-green {
  to {
    width: 74%;
  }
}
@keyframes progress-blue {
  to {
    width: 10%;
  }
}
.relative{
    position: relative;
}
.py-60{
    padding-top:60px;
    padding-bottom: 60px
}
.progress-percent-block.flex{
    flex-wrap: nowrap;
}

.progress-percent-block{
    padding: 42px 30px;
    background: var(--primary-white);
    border-radius: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    min-height: 300px;
    text-align: center;
}
.wrapper--bg-image_right{
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: -1;
}
.grid{
    display: grid;
    row-gap: 100px;
    column-gap:40px;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
}
.text-container{
    grid-column: span 1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: var(--primary-white);
}
.graph-column img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.pt-96{
    padding-top: 96px;
}
.pt-33{
    padding-top: 33px;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #203C65;
    margin-bottom: 40px;
}
.card{
    border: 1px solid #B7CDEE;
    background: var(--primary-white);
    padding: 75px 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: all ease-in-out 300ms;
}
.card:hover{
    box-shadow: 0px 0px 30px 0px rgba(93, 255, 240, 0.50);
}
.card:hover .card-title{
    color: #0FCFBD;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafbfe;
    border-radius: 50%;
}
.wrapper-blue{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 251px;
    padding: 10px 25px;
    border-radius: 5px;
    background: #365B91;
}
.wrapper-blue p{
    color: var(--primary-white);
}
#more {display: none;}
.wrapper-red{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #DE1252;
    width: 242px;
    margin: 0 auto;
    background: #ffebf0;
}
.wrapper-red p{
    color: #F0517A;
}
.gap-55{
    gap: 55px;
}
.wrapper-yellow{
    padding: 10px 15px;
    border: 1px solid #FFB74D;
    border-radius: 5px;
    margin: 50px auto 15px auto;
    background: #ffefd8;
}
.wrapper-yellow p{
    color:#E68127;
}

.comment-col{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: var(--primary-white);
    border-radius: 20px;
    max-height: 673px;
    overflow: hidden;
}
.comment-col .flex{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flex.align-inherit{
    align-items: inherit;
}
.comment-col::after{
    content: '';
    width: 100%;
    height: 130px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F9FF 71.87%);
;
    display: block;
    bottom: 0;
    position: absolute;
    z-index: 0;
}
.comment-col.body-button::after{
    background: var(--body-background);
    height: 50px;
}
.gap-12{
    gap:12px;
}
.p-35{
    padding:35px;
}
.comment-block{
    padding: 30px;
    background: var(--body-background);
    border-top: 1px solid #E2E2E2;
}
.comment-block p:not(p.text-green){
    font-style: italic;
}
.comment-block .text-green{
    margin-bottom: 20px;
}
.read-more-btn{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color:#678EC8;
}
.read-more-btn:hover{
    text-decoration: underline;
}
.all-result{
    position: absolute;
    bottom:10%;
    left:50%;
    transform: translate(-50%,50%);
    padding:12px;
    background: var(--primary-white);
    border: 1px solid #E3E3E3;
    border-radius:4px;
    z-index:1; 
}
.all-result:hover{
    background: var(--body-background)
}
.gap-10{
    gap:10px;
}
.grid.gap-40{
    gap:40px;
}
.reaction-block{
    height: 186px;
    border: 1px solid #E9E9E9;
    background: var(--primary-white);
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 124px;
}
.pb-10{
    padding-bottom: 10px;
}
.reaction-block img{
    width: 102px;
    height: 102px;
}
.review-block{
    background: var(--primary-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-top: 27px;
}
.review-block>p{
    line-height: 34px;
    font-weight: 500;
    padding-bottom: 24px;
}
.justify-center{
    justify-content: center;
}
.review-wrapper .flex{
    margin-bottom: 12px;
}
.review-wrapper .progress-element{
    width: 100%;
}
.review-wrapper .progress-container{
    height: 8px;
}
  .flex.flex-col{
        flex-direction: column;
    }
/* ====media query ===== */
@media only screen and (min-width: 768px){
    .search__form,
    .profile{
        order: 1;
        flex-basis: auto;
    }
    input[type="search"]{
        max-width: 240px;
    }
    .right-column{
        justify-content: flex-end;
    }
  .flex.flex-wrap{
      flex-wrap: wrap;
      justify-content: center;
  }
   
}
@media only screen and (min-width: 1024px){
    /* .container{
        max-width: 992px;
        margin: 0 auto;
    } */
    .row{
        gap: 0;
    }
    .col{
        flex-basis: 50%;
    }
    .col-8{
        flex-basis: 60%;
        padding: 48px 65px 37px;
    }
    .col-4{
        flex-basis: 35%;
        padding: 55px 53px 37px;
    }
    .row.gap-38{
        gap: 38px;
    }
    .container.mt-n-90{
        margin-top: -90px;
    }
    .graph-column.row{
        flex-wrap: nowrap;
    }
    .graph-column img{
        object-fit: contain;
        height: auto;
        overflow: hidden;
    }
    .wrapper--bg-image_right{
        width: auto;
    }
    .ml-auto{
    margin-left: auto;
    }
    .mr-0{
        margin-right: 0;
    }
    .w-77{
        width: 77%;
    }
    .text-container{
     padding: 30px 60px;
    }
    .grid{
        grid-template-columns: repeat( auto-fill, minmax(320px, 1fr));
    }
       .card{
        padding : 80px 68px;
    }
    .review-block{
     padding: 32px 60px 45px 39px;
    }
    .comment-block{
     padding: 37px 34px 30px 86px;
    }
      .wrapper--bg-image_right{
        position: absolute;
    }
    .all-result{
    padding:12px 50px;
    }
    .comment-block .text-green {
        margin-left: -41px;
    }
     .flex{
        flex-wrap: nowrap;
    }
    .comment-col .flex {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .comment-col .text-center{
        text-align: left;
    }
}
@media only screen and (min-width: 1440px){
     .flex.flex-wrap{
        flex-wrap: nowrap;
        }
     .graph-column img{
        overflow: visible;
    }
    .container{
        max-width: 1350px;
        margin: 0 auto;
    }
   
    .col-8{
        flex-basis: 67%;
        padding: 48px 65px 37px;
    }
    .col-4{
        flex-basis: 30%;
        padding: 55px 53px 37px;
    }
    .text-container{
        grid-column: span 3;
    }
  
}
@media only screen and (min-width: 1920px){
    .container{
        max-width: 1427px;
        margin: 0 auto;
    }
}